<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackBear Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/font/flaticon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mauve.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" />

</head>

<body>
    <!-- /* ====================NAVBAR==================== */ -->
	<div th:insert="user/navbar :: copy" class="fixed-top"></div>
    <!-- ===============================DANH MỤC SẢN PHẨM===================================== -->
    <div class="container main row">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb" >
              <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
              <li class="breadcrumb-item"><a th:href="@{/categories}">Danh mục sản phẩm</a></li>
	           	<th:block th:if="${maLoaiSP}">
					<li class="breadcrumb-item active" th:text="${loaiSanPham.tenLoaiSP}"></li>							
				</th:block>
				<th:block th:if="${maHangSX}">
					<li class="breadcrumb-item active" th:text="${hangSanXuat.tenHangSX}"></li>							
				</th:block>
              
            </ol>
          </div>
         <hr> 
        <div class="danh-muc-san-pham col-lg-3 col-md-3 col-12">
            <ul class="list">
                <li id="title"><a href="#">DANH MỤC SẢN PHẨM</a></li>
                <div class="list_item">
					<th:block  th:each="loaiSP : ${listLoaiSanPhams}">
						<th:block th:if=${loaiSanPham}>
							<li><a th:classappend="${loaiSanPham.maLoaiSP==loaiSP.maLoaiSP} ? active" th:href="@{/categories/loaisanpham/{maLoaiSP}(maLoaiSP=${loaiSP.maLoaiSP})}" th:text = "${loaiSP.tenLoaiSP}"></a></li>									
						</th:block>
						<th:block th:unless="${loaiSanPham}">
							<li><a th:href="@{/categories/loaisanpham/{maLoaiSP}(maLoaiSP=${loaiSP.maLoaiSP})}" th:text = "${loaiSP.tenLoaiSP}"></a></li>									
						</th:block>
					</th:block>
                </div>
                <hr>
                <li id="title"><a href="#">Thương hiệu</a></li>
                <div class="list_item">
					<th:block  th:each="hangSX : ${listHangSanXuats}">
						<th:block th:if=${hangSanXuat}>
							<li><a th:classappend="${hangSanXuat.maHangSX==hangSX.maHangSX} ? active" th:href="@{/categories/hangsanxuat/{maHangSX}(maHangSX=${hangSX.maHangSX})}" th:text = "${hangSX.tenHangSX}"></a></li>									
						</th:block>
						<th:block th:unless="${hangSanXuat}">
							<li><a th:href="@{/categories/hangsanxuat/{maHangSX}(maHangSX=${hangSX.maHangSX})}" th:text = "${hangSX.tenHangSX}"></a></li>									
						</th:block>
					</th:block>
                </div>
                <hr>
                	<!-- Price -->
                <li id="title"><a href="#">Giá cả</a></li>
				<div class="list-item">
					<li ><a th:classappend="${idPriceCheck == 1} ? active" th:href="@{/categories/price/{idPrice}(idPrice=1,minPrice = 0,maxPrice=100000)}">Dưới 100.000VND </a> </li>
					<li ><a th:classappend="${idPriceCheck == 2} ? active" th:href="@{/categories/price/{idPrice}(idPrice=2,minPrice = 100000,maxPrice=200000)}">100.000 - 200.000 VND </a> </li>
					<li ><a th:classappend="${idPriceCheck == 3} ? active" th:href="@{/categories/price/{idPrice}(idPrice=3,minPrice = 200000,maxPrice=500000)}">200.000 - 500.000VND </a> </li>
					<li ><a th:classappend="${idPriceCheck == 4} ? active" th:href="@{/categories/price/{idPrice}(idPrice=4,minPrice = 500000,maxPrice=100000000)}">Trên 500.000VND </a> </li>
				</div>
					
            </ul>
        </div>
        <div class="list-san-pham col-lg-9 col-md-9 col-12">
    		<th:block th:if="${keyword}">
				<div class="d-flex">
					<h4 style="color: #424547;">Kết quả tìm kiếm cho từ khóa:</h4>&nbsp&nbsp
					<h4 th:text="${keyword}" style="color: #1a0dab;"></h4>
				</div>
			</th:block>
            <div class="new__product row">
	            <th:block th:each="sanpham : ${listSanPhams}">
		            <div class="card product-card text-center col-lg-3 col-md-4 col-6">
		                <div class="card-img">
		                    <a th:href="@{/single/{maSP} (maSP=${sanpham.maSP})}"><img th:src="@{ '/image/' + ${sanpham.anh}}" alt="" class="card-img-top"></a>
		                </div>
		                <div class="card-body">
		                    <a th:href="@{/single/{maSP} (maSP=${sanpham.maSP})}"><h5 class="card-tittle " th:text="${sanpham.tenSP}"></h5></a>
		                    <h5 class="card-text"><span th:text="${#numbers.formatInteger(sanpham.donGia,3,'POINT')}"></span>₫</h5>
	                    	<a class="btn btn--addStore" th:href="@{/addcart/{id}/1 (id = ${sanpham.maSP})}">Thêm vào giỏ hàng</a>
		                </div>
		            </div>
	            </th:block>
        </div>
        	<div class="d-flex page-list justify-content-center">
				<div th:if="${totalPages > 1}">
            <ul class="pagination col-sm-10">
                <li class="page-item">
                    <a th:if="${currentPage >= totalPages}" th:href="@{'/page/' + ${currentPage - 1}}" class="page-link"><i class="fa fa-angle-double-left"></i></a>
                    <a th:unless="${currentPage >= totalPages}" class="page-link disable"><i class="fa fa-angle-double-left"></i></a>
                </li>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <li class="page-item ">
                          <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}" class="page-link ">[[${i}]]</a>
                    </li>
                    <li class="page-item active">
                    		<a th:unless="${currentPage != i}" class="page-link">[[${i}]]</a>
                    </li>
                    </span>
                <li class="page-item">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}" class="page-link"><i class="fa fa-angle-double-right"></i></a>
                    <a th:unless="${currentPage < totalPages}" class="page-link disable"><i class="fa fa-angle-double-right"></i></a>
                </li>


            </ul>
        </div>
			</div>
        </div>
    </div>
    <!-- /* ====================FOOTER==================== */ -->
    <div th:insert="user/footer :: copy"></div>
	<script>
	document.querySelector('.nav__ ').classList.add('show__nav');
	</script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/all.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>