<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <!-- /* ====================FOOTER==================== */ -->
    <div class="footer" th:fragment="copy">
        <div class="footer__item">
            <p class="footer__item-title">Thông tin</p>
            <ul class="footer__item-list">
                <li>Tên: Nguyễn Nhật Trường</li>
                <li>SDT: 0356049424</li>
                <li>Email: truong992001@gmail.com</li>
            </ul>
        </div>
        <div class="footer__item">
            <p class="footer__item-title">Chính sách</p>
            <ul class="footer__item-list">
                <a href=""><li>Chính sách đổi hàng</li></a>
                <a href=""><li>Chính sách bảo hành</li></a>
                <a href=""><li>Chính sách bảo mật</li></a>
                <a href=""><li>Chính sách hoàn tiền</li></a>
            </ul>
        </div>
        <div class="footer__item">
            <p class="footer__item-title">FAQ</p>
            <ul class="footer__item-list">
                <a href=""><li>Kiểm tra thông tin</li></a>
                <a href=""><li>Câu hỏi thường gặp</li></a>
            </ul>
        </div>
        <div class="footer__item">
            <p class="footer__item-title">Liên hệ</p>
            <div class="footer__item-listIcon">
                <a href="https://www.facebook.com/blackbear99/"> <h1 class="fab fa-facebook-square fa-2x face"></h1></a>
                <a href="#" ><h1 class="fab fa-youtube fa-2x youtube" ></h1></a>
                <a href="#" ><h1 class="fab fa-skype fa-2x skype" ></h1></a>
                <a href="#"><h1 class="fab fa-instagram fa-2x insta" ></h1></a> 
            </div>
        </div>
    </div>
</body>
</html>