$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a93222e9256d4b6031fd53003e1f8537") format("truetype"),
url("./flaticon.woff?a93222e9256d4b6031fd53003e1f8537") format("woff"),
url("./flaticon.woff2?a93222e9256d4b6031fd53003e1f8537") format("woff2"),
url("./flaticon.eot?a93222e9256d4b6031fd53003e1f8537#iefix") format("embedded-opentype"),
url("./flaticon.svg?a93222e9256d4b6031fd53003e1f8537#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "hand": "\f101",
    "free-delivery": "\f102",
    "refund": "\f103",
    "phone-call": "\f104",
);

.flaticon-hand:before {
    content: map-get($flaticon-map, "hand");
}
.flaticon-free-delivery:before {
    content: map-get($flaticon-map, "free-delivery");
}
.flaticon-refund:before {
    content: map-get($flaticon-map, "refund");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
