<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Quyền</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
	<!--Content of the page-->
	  <div class="content-wrapper">
            <div class="page-header">
              <h2 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Quản lý quyền
              </h2>
            </div>
           
            <div class="container"> 
 		

		 </br>
		  <a sec:authorize="hasAnyAuthority('Admin', 'Editor')" th:href = "@{/showNewPhanQuyenForm}" class="btn btn-primary btn-sm mb-3"> Thêm Phân Quyền</a>
		 
		 <div class="card">
                  <div class="card-body">
           <table border="1" class = "table table-striped table-bordered table-responsive-md">
		   <thead>
		    <tr>
		     <th> <a th:href="@{'/pageQuyen/' + ${currentPage} + '?sortField=maQuyen&sortDir=' + ${reverseSortDir}}">
      			Mã Quyền</a></th>
		     <th> <a th:href="@{'/pageQuyen/' + ${currentPage} + '?sortField=tenQuyen&sortDir=' + ${reverseSortDir}}">
      			Tên Quyền</a></th>
		     <th sec:authorize="hasAnyAuthority('Admin')">Chức Năng</th>
		    </tr>
		   </thead>
		   <tbody>
		    <tr th:each="Quyen : ${listQuyens}">
		    	<td th:text="${Quyen.maQuyen}"></td>
			   	<td th:text="${Quyen.tenQuyen}"></td>
			   	<td sec:authorize="hasAnyAuthority('Admin')">
			   		<a class="px-2" sec:authorize="hasAnyAuthority('Admin', 'Editor')" th:href="@{/showFormForUpdateQuyen/{maQuyen}(maQuyen=${Quyen.maQuyen})}"><i style="font-size:25px;color:blue;" class='mdi mdi-pencil-box'></i></a>
			   		<a class="px-2" sec:authorize="hasAnyAuthority('Admin')" th:href="@{/deleteQuyen/{maQuyen}(maQuyen=${Quyen.maQuyen})}"><i style="font-size:25px;color:red;" class='mdi mdi-delete-forever mdi-5x'></i></a>	
			   	</td>
		    </tr>
		   </tbody>
		  </table>
                  </div>
         </div>

		 
		 <div class="d-flex page-list justify-content-center">
						<div th:if="${totalPages > 1}">
		          		  <ul class="pagination col-sm-10">
		                	<li class="page-item">
			                    <a th:if="${currentPage >= totalPages}" th:href="@{'/pageQuyen/' + ${totalPages - currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" class="page-link"><i class="fa fa-angle-double-left"></i></a>
			                    <a th:unless="${currentPage >= totalPages}" class="page-link disable"><i class="fa fa-angle-double-left"></i></a>
		                	</li>
		                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
		                    <li class="page-item ">
		                          <a th:if="${currentPage != i}" th:href="@{'/pageQuyen/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" class="page-link ">[[${i}]]</a>
		                    </li>
		                    <li class="page-item active">
		                    		<a th:unless="${currentPage != i}" class="page-link">[[${i}]]</a>
		                    </li>
		                    </span>
		               		<li class="page-item">
			                    <a th:if="${currentPage < totalPages}" th:href="@{'/pageQuyen/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" class="page-link"><i class="fa fa-angle-double-right"></i></a>
			                    <a th:unless="${currentPage < totalPages}" class="page-link disable"><i class="fa fa-angle-double-right"></i></a>
		                	</li>
		         	   </ul>
		        </div>
		</div>
 	</div>
           

          </div>
	<!--Content of the page-->
	
	
	<div class="container">
 		<h3 class="mb-4 pt-4">DANH SÁCH QUYỀN</h1> 

<!--  		Thêm / để luôn về đúng url  -->
 		<form th:action="@{/searchQuyen}" method="get"> <!-- Phải ghi đúng bên Controller  -->
		 	<input type="text" name="keyword" th:value="${keyword}" placeholder="Find by Keyword" size="50">
		 	<button type="submit" class="btn btn-primary">Search</button>
		 	<button type="submit" class="btn btn-danger">Reset</button>
		 </form>
		 </br>
		 
 		 <a sec:authorize="hasAnyAuthority('Admin', 'Editor')" th:href = "@{/showNewQuyenForm}" class="btn btn-primary btn-sm mb-3"> Thêm Quyền</a>
		  
		  <table border="1" class = "table table-striped table-responsive-md">
		   <thead>
		    <tr>
		     <th> <a th:href="@{'/pageQuyen/' + ${currentPage} + '?sortField=maQuyen&sortDir=' + ${reverseSortDir}}">
      			Mã Quyền</a></th>
		     <th> <a th:href="@{'/pageQuyen/' + ${currentPage} + '?sortField=tenQuyen&sortDir=' + ${reverseSortDir}}">
      			Tên Quyền</a></th>
		     <th sec:authorize="hasAnyAuthority('Admin')">Chức Năng</th>
		    </tr>
		   </thead>
		   <tbody>
		    <tr th:each="Quyen : ${listQuyens}">
		    	<td th:text="${Quyen.maQuyen}"></td>
			   	<td th:text="${Quyen.tenQuyen}"></td>
			   	<td sec:authorize="hasAnyAuthority('Admin')">
			   		<a th:href="@{/showFormForUpdateQuyen/{maQuyen}(maQuyen=${Quyen.maQuyen})}"><img th:src ="@{/images/edit.png}" width="35"/></a>
			   		<a th:href="@{/deleteQuyen/{maQuyen}(maQuyen=${Quyen.maQuyen})}"><img th:src ="@{/images/delete.png}" width="35"/></a>
			   	</td>
		    </tr>
		   </tbody>
		  </table>
		
		 <div class="d-flex page-list justify-content-center">
						<div th:if="${totalPages > 1}">
		          		  <ul class="pagination col-sm-10">
		                	<li class="page-item">
			                    <a th:if="${currentPage >= totalPages}" th:href="@{'/pageQuyen/' + ${totalPages - currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" class="page-link"><i class="fa fa-angle-double-left"></i></a>
			                    <a th:unless="${currentPage >= totalPages}" class="page-link disable"><i class="fa fa-angle-double-left"></i></a>
		                	</li>
		                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
		                    <li class="page-item ">
		                          <a th:if="${currentPage != i}" th:href="@{'/pageQuyen/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" class="page-link ">[[${i}]]</a>
		                    </li>
		                    <li class="page-item active">
		                    		<a th:unless="${currentPage != i}" class="page-link">[[${i}]]</a>
		                    </li>
		                    </span>
		               		<li class="page-item">
			                    <a th:if="${currentPage < totalPages}" th:href="@{'/pageQuyen/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" class="page-link"><i class="fa fa-angle-double-right"></i></a>
			                    <a th:unless="${currentPage < totalPages}" class="page-link disable"><i class="fa fa-angle-double-right"></i></a>
		                	</li>
		         	   </ul>
		        </div>
		</div>
 	</div>
</div>
</body>
</html>