<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Hãng Sản Xuất</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
<div class="content-wrapper">
		 <div class="card">
	          <div class="card-body">
<div class="container">
        <h2 class="mb-3">Cập Nhật Hãng sản xuất</h2>

        <form action="#" th:action="@{/updateHangSanXuat}" th:object="${HangSanXuat}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{maHangSX}" />

			<label for="tenHangSX"><strong>Hãng sản xuất:</strong></label>
            <input type="text" th:field="*{tenHangSX}" class="form-control col-4">
            <p style="color:red" th:if="${#fields.hasErrors('tenHangSX')}" th:errors="*{tenHangSX}">Error</p>
            </br>
            
            <label for="DacDiem"><strong>Đặc điểm:</strong></label>
            <input type="text" th:field="*{dacDiem}" class="form-control col-4">
            <p style="color:red" th:if="${#fields.hasErrors('dacDiem')}" th:errors="*{dacDiem}">Error</p>
            </br>
            
            <button type="submit" class="btn btn-info col-2">Cập nhật</button>
        </form>
        <hr>

        <a th:href="@{/page_hangsanxuat}"> Quay lại</a>
    </div>
</div>

	          </div>
          </div>
</div>

	
</body>
</html>